<% content_for :head do %>
  <meta http-equiv="Content-Type" content="text/html; charset=<%= @action.charset %>" />
  <title><%= @action.name %> - letter_bomb %></title>
  <style type="text/css">
    #message_headers {
      width: 100%;
      margin: 0;
      background: #fff;
      font-size: 12px;
      font-family: "Lucida Grande";
      border-bottom: 1px solid #dedede;
      overflow: hidden;
    }

    #message_headers dl {
      float: left;
      margin: 0 0 10px 0;
      padding: 0;
    }

    #message_headers dt {
      width: 100px;
      padding: 1px;
      float: left;
      text-align: right;
      font-weight: bold;
      color: #7f7f7f;
    }

    #message_headers dd {
      margin-left: 110px;
      padding: 1px;
    }

    #message_headers p.alternate {
      float: right;
      margin: 0;
    }

    #message_headers p.alternate a {
      color: #09c;
    }

    pre#message_body {
      padding: 10px;
      white-space: pre-wrap;
    }
  </style>
<% end %>

<div id="message_headers">
  <dl>
    <dt>To:</dt>
    <dd><%= @action.to %></dd>

    <dt>From:</dt>
    <dd><%= @action.from %></dd>

    <% if @action.reply_to %>
      <dt>Reply-To:</dt>
      <dd><%= @action.reply_to %></dd>
    <% end %>

    <dt>Subject:</dt>
    <dd><strong><%= @action.subject %></strong></dd>
  </dl>

  <% if @action.multipart? %>
    <p class="alternate">
      <% if @action.html_format? %>
        <a href="<%= @action.name %>.text">View plain text version</a>
      <% else %>
        <a href="<%= @action.name %>.html">View HTML version</a>
      <% end %>
    </p>
  <% end %>
</div>

<% if @action.html_format? %>
  <%= @action.body.to_s.html_safe %>
<% else %>
<pre id="message_body">
<%= @action.body %>
</pre>
<% end %>
